<nav id="navigation" class="navbar-dark navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/profile">Auth server</a>
        </div>
        <ul class="nav navbar-nav">
            <li sec:authorize="isAnonymous()"><a th:href="@{/login}" th:text="#{login.header}"></a></li>
            <li sec:authorize="isAnonymous()"><a th:href="@{/register}" th:text="#{registration.header}"></a></li>
            <li sec:authorize="!isAnonymous()"><a th:href="@{/logout}" th:text="#{logout.header}"></a></li>
        </ul>

    </div>

	<div id="language">
		<a href="?lang=en"><img src="images/english.png" width="20" /></a>
        <a href="?lang=cs"><img src="images/czech.png" width="20" /></a>
	</div>

</nav>
